.adminContainer {
  margin: 5rem auto;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.container {
  margin: 0 auto;
  min-height: calc(100vh - 14px);
}
