.Button {
  --buttonBackground: var(--primary);
}

.ButtonAlternate {
  --buttonBackground: var(--alternate);
}

.Button,
.ButtonAlternate {
  position: relative;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: var(--babyRound);
  background-color: var(--buttonBackground);
  color: var(--background);
  font-family: var(--headingFont);
  font-weight: var(--headingWeight);
  font-size: inherit;
  cursor: pointer;
  box-shadow: 0 3px 15px 0 rgb(0 0 0 / 10%);
  background-size: 2rem 2rem; /* for animation */
}

.Button:hover,
.Button:focus,
.ButtonAlternate:hover,
.ButtonAlternate:focus {
  transition: all 0.25s ease;
  transform: scale(1.15);
}

.ButtonIsSubmitting .LoadingIndicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--babyRound);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--buttonBackground);
  filter: brightness(115%);
  margin: 0;
}

.ButtonTransparent {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.Button:disabled,
.ButtonAlternate:disabled,
.ButtonTransparent:disabled {
  cursor: not-allowed;
}
