.categoriesList,
.subcategoriesList {
  margin: 0;
  padding: 0;
}

.categoriesList {
  margin-top: 34px; /* same space as breadcrumbs */
}

.activeFilterTitle {
  margin: 0 0 1.25rem;
  font-size: 20px;
  line-height: 1em;
}

.categoriesList__option {
  display: block;
  font-size: 20px;
  line-height: 1.15rem;
  margin-bottom: 0.625rem;
  margin-left: 0;
}

.categoriesList__option a {
  color: var(--darkText);
  font-family: var(--headingFont);
  font-weight: bold;
}

.subcategoriesList__option {
  display: block;
  font-size: 15px;
  margin-bottom: 0.625rem;
  margin-left: 0;
  line-height: 1em;
}

.subcategoriesList__option a {
  color: var(--mediumText);
}

.subcategoriesList__activeOption h2 {
  font-size: inherit;
  margin: inherit;
}

.breadcrumbs {
  display: flex;
}

.activeHelperLink,
.activeHelperLink:visited {
  display: block;
  text-decoration: underline;
  color: var(--lightText);
  font-size: 15px;
  margin-bottom: 0.75rem;
}

.activeHelperLink:first-of-type:after {
  content: " /";
  display: inline-block;
  line-height: 1em;
  margin: 0 0.25rem;
}
