/* NOTE: media queries are mirrored in 'globals.css' :root variables */

.Nav {
  position: fixed;
  z-index: 9;
  left: 0;
  bottom: 0;
  bottom: var(--fixedNavBottom);
  transition: bottom 0.3s;
  width: 100%;
  height: var(--fixedNavHeight);
  background-color: var(--background);
  border-top: 1px solid var(--hr);

  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

.Nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 1rem 1rem 0;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.Nav ul li {
  text-align: center;
}

/* 455 -> desktop items fit on one line */
@media screen and (min-width: 455px) {
  .Nav ul {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;

    padding-top: 0;
  }

  .Nav ul li {
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: left;
  }

  .ActiveItem:before {
    position: absolute;
    content: "";
    top: -1px;
    height: 4px;
    width: 100%;
    background-color: var(--primary);
  }

  .ActiveItem a,
  .ActiveItem a:visited {
    color: var(--primary);
  }
}

/* 1118px also in globals to change --fixedNavHeight */
@media screen and (min-width: 1118px) {
  .Nav {
    display: none;
  }
}
