.InstaReel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  width: 100%;
  overflow: auto;
  justify-content: space-between;
  scroll-snap-type: x mandatory;
}

.InstaReel__item {
  height: var(--instaReelHeight); /* 17rem from home page CTA */
  width: var(--instaReelHeight);
  flex: 0 0 var(--instaReelHeight);
}
