.form {
}

.form input {
  padding: 0.25rem;
}

.formSideGrid {
  display: grid;
  grid-template-columns: auto 4rem;
  align-items: center;
  grid-gap: 0.5rem;
  max-width: 12rem;
  margin-bottom: 0.5rem;
}

.errorMessage {
  color: var(--danger);
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-color: currentColor;
  border-style: solid;
  border-width: 0;
  border-left-width: 2px;
  border-right-width: 2px;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
  position: relative;
}

.errorMessage::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border-width: 0;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--danger);
  opacity: 0.1;
}

.addFormSideBtn {
  margin-bottom: 0.5rem;
}

.quoteList {
  list-style: none;
  padding-left: 1.25rem;
}
