.SiteNav {
  /* stick to top */
  position: fixed;
  top: 0;
  transition: top 0.3s;
  width: 100%;
  z-index: 9;
}

.SiteNav__hidden {
  top: calc(0px - var(--navHeight));
}

.header {
  --localeWidth: 92px; /* flags + padding */

  font-family: var(--headingFont);
  border-bottom: 1px solid var(--hr);
  padding: 0.5rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  /* above the hero*/
  background-color: var(--background);
  position: relative;
}

.header__spacer {
  display: grid;
  grid-template-columns: 2rem auto 2rem;
  grid-template-areas: "colorado logo america";
  align-items: center;
}

.header__spacer {
  width: 100%;
  margin: auto;
  flex-direction: inherit;
  justify-content: space-between;
}

.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem; /* matches grid's aside */
}

.locales {
  display: contents; /* passthrough */
}

.locales__colorado,
.locales__america {
  position: absolute;
  top: 1.15rem;
}

.locales__colorado {
  left: 1rem;
}

.locales__america {
  right: 1rem;
}

.callNow {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
}

.callNow__isFlyoutOpen .callNow__flyout {
  display: block;
}

.callNow__anchor {
  color: var(--primary);
  display: none; /* hide on mobile */
  font-size: 1.15rem;
  font-family: var(--headingFont);
  font-weight: bold;
  height: 100%;
  padding: 1rem 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.callNow__flyout {
  display: none; /* shown via __isOpen */
  position: absolute;
  top: 2.5rem;
  background: var(--background);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 3px 15px 0 rgb(0 0 0 / 10%);
  width: 18.5rem;
}

.callNow__flyout ul {
  margin: 0;
  padding: 0;
}

.callNow__flyout li {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25rem;
  line-height: 1.25em;
  margin-bottom: 0.5rem;
}

.callNow__flyout li:last-of-type {
  margin-bottom: 0;
}

.callNow__flyout__label {
  display: flex;
  align-items: baseline;
  text-align: right;
  color: var(--mediumText);
}

.callNow__flyout__label__accent {
  color: var(--primary);
  margin-left: 0.25rem;
}

.callNow__flyout__number,
.callNow__flyout__number:visited {
  color: var(--primary);
}

@media (min-width: 612px) {
  .header {
    flex-direction: row;
    align-items: center;
  }
  .header__spacer {
    display: flex;
    width: 100%;
    max-width: var(--gridWidth);
    padding-right: var(--localeWidth);
    margin-right: auto;
  }
  .logo {
    /* placeholder */
  }
  .callNow {
    justify-content: flex-end;
  }
  .callNow__anchor {
    padding: 0;
    display: block;
  }
  .locales {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    right: 1rem;
  }
  .locales__colorado,
  .locales__america {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
  }
}

/* at --gridWidth let flags fly right */
@media screen and (min-width: 1376px) {
  .header__spacer {
    max-width: var(--gridWidth);
    padding-right: 0;
    margin: auto;
  }
}
