.hero {
  height: 75vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--hr);
  background-image: linear-gradient(145deg, var(--primary), var(--alternate));
}

.hero__text {
  margin-left: 2rem;
  max-width: 666px;
  width: 100%;
}

.linkContainer {
  display: flex;
  gap: 0.5rem;
}

.LinkButton {
  --buttonBackground: var(--primary);
}

.LinkButtonAlternate {
  --buttonBackground: var(--alternate);
}

.LinkButton,
.LinkButtonAlternate {
  position: relative;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.25rem;
  background-color: var(--buttonBackground);
  color: var(--background);
  font-family: var(--headingFont);
  font-weight: var(--headingWeight);
  cursor: pointer;

  box-shadow: 0 3px 15px 0 rgb(0 0 0 / 10%);

  background-size: 2rem 2rem; /* for animation */
}

.LinkButton:hover,
.LinkButton:focus,
.LinkButtonAlternate:hover,
.LinkButtonAlternate:focus {
  transition: all 0.25s ease;
  transform: scale(1.05);
}

.LinkButton:visited,
.LinkButtonAlternate:visited {
  color: var(--background);
}

.verbsContainer {
  display: flex;
  flex-direction: row;
}

.verbsContainer__reel {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  text-align: center;
  height: 2.5rem;

  margin-right: 0.5rem;
}

.verbsContainer__reel__item {
  background-color: var(--highlight);
  mix-blend-mode: screen;
  border-radius: 0.5rem;
  padding: 1px 0.25rem;
  height: 40px;
  box-sizing: border-box;
}

.verbsContainer__reel__item:first-of-type {
  --verbHeight: -40px;

  animation: rotatingVerb 10s ease infinite;
}

@keyframes rotatingVerb {
  0% {
    margin-top: calc(6 * var(--verbHeight));
  }
  5% {
    margin-top: calc(6 * var(--verbHeight));
  }
  10% {
    margin-top: calc(6 * var(--verbHeight));
  }
  15% {
    margin-top: calc(5 * var(--verbHeight));
  }
  20% {
    margin-top: calc(5 * var(--verbHeight));
  }
  25% {
    margin-top: calc(5 * var(--verbHeight));
  }
  30% {
    margin-top: calc(4 * var(--verbHeight));
  }
  35% {
    margin-top: calc(4 * var(--verbHeight));
  }
  40% {
    margin-top: calc(4 * var(--verbHeight));
  }
  45% {
    margin-top: calc(3 * var(--verbHeight));
  }
  50% {
    margin-top: calc(3 * var(--verbHeight));
  }
  55% {
    margin-top: calc(3 * var(--verbHeight));
  }
  60% {
    margin-top: calc(2 * var(--verbHeight));
  }
  65% {
    margin-top: calc(2 * var(--verbHeight));
  }
  70% {
    margin-top: calc(2 * var(--verbHeight));
  }
  75% {
    margin-top: var(--verbHeight);
  }
  80% {
    margin-top: var(--verbHeight);
  }
  85% {
    margin-top: var(--verbHeight);
  }
  90% {
    margin-top: 0;
  }
  95% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
