.hero {
  height: 75vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--hr);
  background-image: linear-gradient(145deg, var(--primary), var(--alternate));
}

.hero__text {
  margin-left: 2rem;
  max-width: 666px;
  width: 100%;
}

.linkContainer {
  display: flex;
  gap: 0.5rem;
}

.LinkButton {
  --buttonBackground: var(--primary);
}

.LinkButtonAlternate {
  --buttonBackground: var(--alternate);
}

.LinkButton,
.LinkButtonAlternate {
  position: relative;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.25rem;
  background-color: var(--buttonBackground);
  color: var(--background);
  font-family: var(--headingFont);
  font-weight: var(--headingWeight);
  cursor: pointer;

  box-shadow: 0 3px 15px 0 rgb(0 0 0 / 10%);

  background-size: 2rem 2rem; /* for animation */
}

.LinkButton:hover,
.LinkButton:focus,
.LinkButtonAlternate:hover,
.LinkButtonAlternate:focus {
  transition: all 0.25s ease;
  transform: scale(1.05);
}

.LinkButton:visited,
.LinkButtonAlternate:visited {
  color: var(--background);
}

.verbsContainer {
  display: flex;
  flex-direction: row;
}

.verbsContainer__reel {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  text-align: center;
  height: 2.5rem;

  margin-right: 0.5rem;
}

.verbsContainer__reel__item {
  background-color: var(--highlight);
  mix-blend-mode: screen;
  border-radius: 0.5rem;
  padding: 1px 0.25rem;
  height: 40px;
  box-sizing: border-box;
}

.verbsContainer__reel__item:first-of-type {
  --verbHeight: -40px;

  animation: rotatingVerb 10s ease infinite;
}

@keyframes rotatingVerb {
  0% {
    margin-top: calc(6 * var(--verbHeight));
  }
  5% {
    margin-top: calc(6 * var(--verbHeight));
  }
  10% {
    margin-top: calc(6 * var(--verbHeight));
  }
  15% {
    margin-top: calc(5 * var(--verbHeight));
  }
  20% {
    margin-top: calc(5 * var(--verbHeight));
  }
  25% {
    margin-top: calc(5 * var(--verbHeight));
  }
  30% {
    margin-top: calc(4 * var(--verbHeight));
  }
  35% {
    margin-top: calc(4 * var(--verbHeight));
  }
  40% {
    margin-top: calc(4 * var(--verbHeight));
  }
  45% {
    margin-top: calc(3 * var(--verbHeight));
  }
  50% {
    margin-top: calc(3 * var(--verbHeight));
  }
  55% {
    margin-top: calc(3 * var(--verbHeight));
  }
  60% {
    margin-top: calc(2 * var(--verbHeight));
  }
  65% {
    margin-top: calc(2 * var(--verbHeight));
  }
  70% {
    margin-top: calc(2 * var(--verbHeight));
  }
  75% {
    margin-top: var(--verbHeight);
  }
  80% {
    margin-top: var(--verbHeight);
  }
  85% {
    margin-top: var(--verbHeight);
  }
  90% {
    margin-top: 0;
  }
  95% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

.welcome {
  min-height: 30rem;
  position: relative;

  margin: auto;
  max-width: 1080px;
  width: 100%;
}

.welcome__block {
  padding: 3rem;
  max-width: 28rem;
  width: 100%;
  background-color: var(--background);
  box-shadow: var(--boxShadow);

  position: absolute;
  right: 6rem;
  bottom: 64px;
  border-radius: var(--rounded);
}

.welcome__block__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome__block__heading {
  max-width: 240px;
  width: 80%;
  font-size: 2rem;
  margin: 0;
}

.youDeserve {
  min-height: 560px;
  background-color: #f5af21;
  background: linear-gradient(#f5c922, #f4951f);
  display: flex;
  align-items: center;
}

.youDeserve__block {
  max-width: 28rem;
  width: 80%;
  margin-left: 10vw;
  border-radius: var(--rounded);
}

.youDeserve__block p {
  margin: 0 0 2rem;
  font-size: 2rem;

  font-family: var(--headingFont);
  font-weight: var(--headingWeight);
  color: var(--background);
}

.howTo__heading {
  font-size: 2rem;
  text-align: center;
  margin: 8rem auto;
}

.howTo__steps {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-evenly;
}

.howTo__steps li {
  counter-increment: step-counter;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.howTo__steps li::before {
  content: counter(step-counter);
  font-family: var(--headingFont);
  font-weight: var(--headingWeight);
  color: var(--darkText);
  font-size: 1.5rem;
}

.howTo__steps li h4 {
  text-align: center;
}

.howTo__block {
  background: var(--background);
  box-shadow: var(--boxShadow);
  max-width: 720px;
  width: 100%;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 2rem;
  border-radius: var(--rounded);
}

.servicesWrap {
  min-height: 62rem;
  position: relative;
}

.services__bg {
  z-index: 0;
}

.services {
  /* position: relative; */
}

.services__heading {
  position: absolute;
  left: 10%;
  top: 8rem;
  font-size: 2rem;
  color: var(--background);
  line-height: 1.5;
}

.services__flyingText {
  position: absolute;
  left: 24%;
  top: 22rem;
  color: var(--background);
  max-width: 16rem;
  width: 100%;
  margin: 0;
}

.services__uniformMan {
  position: absolute;
  left: 10px;
  bottom: 0;
  max-width: 30vw;
  width: 100%;
  display: inline-flex;
}

.services__points {
  padding: 2rem;
  background: var(--background);
  box-shadow: var(--boxShadow);
  border-radius: var(--rounded);

  width: 100%;
  max-width: 26rem;
  position: absolute;
  right: 20%;
}

.services__points li {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50px 1fr;
  align-items: flex-start;
}

.services__points li:not(:last-of-type) {
  margin-bottom: 1rem;
}

.services__points h5 {
  font-size: 1rem;
  margin: 0;
}

.services__block {
  padding: 2rem;
  background: var(--background);
  box-shadow: var(--boxShadow);
  border-radius: var(--rounded);

  width: 100%;
  max-width: 40rem;
  position: absolute;
  top: 38rem;
  right: 15%;
}

.services__block__heading {
  margin: 0;
  font-size: 1.5rem;
}

.services__block__carousel {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: space-between;
}
