.details {
  margin: 1rem auto;
}

.searchContainer {
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-gap: 1rem;
}

.searchContainer__aside {
  padding: 1rem;
}

.categoriesList {
  margin: 0;
  padding: 0;
}

.categoriesList__option {
  display: block;
  font-size: 20px;
  margin-bottom: 0.625rem;
  margin-left: 0;
}

.categoriesList__option a {
  color: var(--mediumText);
  font-weight: bold;
}
