.details {
  margin: 1rem auto;
}

.grid {
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-gap: 1rem;
}

.grid__aside {
  padding: 1rem 1.4rem 6rem;
  position: sticky;
  top: 1.15rem;
  align-self: start; /* for 'sticky' in grid */

  height: 100vh;
  overflow-y: auto;

  border-right: 2px solid var(--hr);

  /* lock calculator on bottom */
  display: grid;
  grid-template-rows: 1fr auto;
}
