.details {
  margin: 1rem auto;
}

.searchContainer {
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-gap: 1rem;
}

.searchContainer__aside {
  padding: 1rem;
  position: sticky;
  top: 1.15rem;
  align-self: start; /* for 'sticky' in grid */
}
