.hero {
  min-height: 90vh;
  background: linear-gradient(to right, var(--primary), #4852da);

  min-height: 85vh;
  position: relative;
  overflow-x: clip;
}

.backgroundGradient {
  background: linear-gradient(to right, var(--primary), #4852da);
}

.hero__spacer {
  max-width: var(--gridWidth);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.hero__heading {
  color: var(--background);
  font-size: 2.5rem;
}

.hero__linkContainer {
  position: relative;
}

.hero__left {
  padding-top: 32vh;
  align-self: center;
}

.hero__right {
  position: relative;
  align-self: center;
}

.hero__imageContainer {
  position: absolute;

  top: 0;
  left: 50%;
  width: 55vw;
  height: 100%;
}

.scrollContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-width: var(--gridWidth);
  margin: 0 auto;
  align-items: start;
  padding-bottom: 10rem;
}

.scrollContainer__aside {
  position: sticky;
  top: calc(var(--navHeight) + 2rem);
  align-self: start;
  margin-top: 8rem;
}

.sectionNav ul {
  margin: 0;
  padding: 0;
}
.sectionNav ul li {
  margin-bottom: 0.375rem;
}

.sectionNav__link {
  font-size: 1.25rem;
  color: var(--text);
  position: relative;
}

.sectionNav__linkActive {
  font-weight: bold;
  padding-left: 1rem;
}

.sectionNav__linkActive:before {
  content: "";
  position: absolute;
  height: 102.5%;
  left: 0;
  width: 4px;
  background-color: var(--primary);
}

.sectionNav__link:visited {
  color: var(--text);
}

.scrollContainer main {
  padding-left: 100px;
}
