html {
  scroll-behavior: smooth;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

:root {
  --background: #fff;

  --hr: rgb(236, 238, 238);
  --darkText: #282828;
  --mediumText: rgb(80, 101, 105);
  --lightText: #a6a6a6;

  --danger: #ce0c1b;
  --primary: #13c798;
  --alternate: #5545ff;
  --highlight: yellow;

  --bodyFont: "proxima-nova", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --headingFont: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --headingWeight: 700;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--bodyFont);
  background-color: var(--background);
  color: var(--darkText);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
  font-weight: var(--headingWeight);
}

hr {
  background-color: var(--hr);
  border: 0;
  height: 1px;
}

input:focus {
  outline-color: var(--primary);
}
