html {
  scroll-behavior: smooth;
}

a {
  color: var(--alternate);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

:root {
  --background: #fff;

  --hr: rgb(236, 238, 238);
  --darkText: #282828;
  --mediumText: rgb(80, 101, 105);
  --lightText: #a6a6a6;

  --danger: #ce0c1b;
  --primary: #13c798;
  --alternate: #5545ff;
  --highlight: yellow;

  --bodyFont: "proxima-nova", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --headingFont: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --headingWeight: 700;

  --boxShadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --rounded: 1rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--bodyFont);
  background-color: var(--background);
  color: var(--darkText);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
  font-weight: var(--headingWeight);
}

hr {
  background-color: var(--hr);
  border: 0;
  height: 1px;
}

input:focus,
select:focus {
  outline-color: var(--primary);
}

input,
select {
  font-family: var(--bodyFont);
}

input[type="text"],
input[type="search"],
input[type="number"] {
  border: solid 1px var(--lightText);
  padding: 0.25rem 0.5rem;
}

select {
  border: solid 1px var(--lightText);
  padding: 3px;
}

.highlight {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.highlight::after {
  position: absolute;
  content: "";
  height: 0.85em;
  left: 0;
  right: 0;

  vertical-align: baseline;
  background-size: contain;
  background-position: 0 bottom;
  background-repeat: no-repeat;
  padding-bottom: 0.75rem;

  /* encode SVG via encodeURI(`SVG_GOES_HERE`) or a web tool like https://meyerweb.com/eric/tools/dencoder/ */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20127.1641%2011.5772%22%3E%3Cpath%20fill%3D%22yellow%22%20d%3D%22M.1068%2C8.2291A1.0067%2C1.0067%2C0%2C0%2C0%2C.22%2C9.2935c.2379.39.499.77.7034%2C1.1738a2.1735%2C2.1735%2C0%2C0%2C0%2C2.4205%2C1.0918%2C48.3439%2C48.3439%2C0%2C0%2C1%2C5.01-.2717A14.0076%2C14.0076%2C0%2C0%2C0%2C13.3%2C10.7705a2.5723%2C2.5723%2C0%2C0%2C1%2C1.5417.1132%2C9.072%2C9.072%2C0%2C0%2C0%2C3.2688.157.6278.6278%2C0%2C0%2C0%2C.4447-.1479c.2993-.46.7451-.3733%2C1.19-.33.4844.0465.9677.1165%2C1.4536.1336%2C1.113.04%2C2.2016.3053%2C3.3185-.2962A4.4517%2C4.4517%2C0%2C0%2C1%2C26.88%2C9.9972a11.1254%2C11.1254%2C0%2C0%2C0%2C2.9067-.1431%2C14.0881%2C14.0881%2C0%2C0%2C1%2C2.0519-.09c.2828-.0053.5662.0552.8494.0543%2C1.3843-.0033%2C2.7688-.0026%2C4.1526-.0331.81-.0179%2C1.6184-.0948%2C2.4279-.1391a3.4553%2C3.4553%2C0%2C0%2C1%2C1.0908-.0156%2C2.2005%2C2.2005%2C0%2C0%2C0%2C1.3039-.0433%2C3.2084%2C3.2084%2C0%2C0%2C1%2C.8493-.0849%2C2.2251%2C2.2251%2C0%2C0%2C1%2C.6239.0592c.9262-.0081%2C1.8669-.0261%2C2.82-.0333a38.6525%2C38.6525%2C0%2C0%2C1%2C8.6288-.4945%2C6.7908%2C6.7908%2C0%2C0%2C1%2C1.5344.1253c.3062.0631.636.0379.9381.1105.7076.17%2C1.3208-.2091%2C1.9679-.2593%2C1.5806-.1232%2C3.1745-.1042%2C4.763-.115%2C1.22-.0083%2C2.4418.06%2C3.6614.0318%2C1.7058-.04%2C3.41-.1387%2C5.1156-.2065.119-.0046.24.0591.36.0594%2C1.7906.0053%2C3.5814.0193%2C5.372.0016%2C1.1736-.0117%2C2.3473-.104%2C3.52-.1018%2C1.7875.0036%2C3.584.1812%2C5.3591.0562%2C1.8453-.13%2C3.6688-.01%2C5.5023-.0028%2C1.4624.0055%2C2.932-.0034%2C4.3872-.1258a39.9811%2C39.9811%2C0%2C0%2C1%2C6.3516.0644c1.34.1%2C2.6741.2769%2C4.0158.3511%2C1.1352.0628%2C2.2837-.0359%2C3.4155.0492%2C2.2351.1685%2C4.4576.4935%2C6.6951.6a10.54%2C10.54%2C0%2C0%2C1%2C3.9387%2C1.0492%2C4.1383%2C4.1383%2C0%2C0%2C0%2C1.1556.2468%2C3.613%2C3.613%2C0%2C0%2C0%2C2.5348-.9238%2C5.2741%2C5.2741%2C0%2C0%2C0%2C1.99-3.4741%2C2.4274%2C2.4274%2C0%2C0%2C0-.3356-1.1649.791.791%2C0%2C0%2C1-.074-.9107%2C1.696%2C1.696%2C0%2C0%2C0-.7611-2.0049%2C20.7712%2C20.7712%2C0%2C0%2C0-5.1762-1.25c-1.58-.1354-3.1668-.2443-4.7342-.46a18.2039%2C18.2039%2C0%2C0%2C0-3.7818-.084A16.3564%2C16.3564%2C0%2C0%2C1%2C109.87.6436c-1.4176-.1129-2.8263-.3285-4.2456-.4051-1.8328-.0987-3.6794-.03-5.507-.1673a24.268%2C24.268%2C0%2C0%2C0-6.2037.3365%2C3.6777%2C3.6777%2C0%2C0%2C1-1.437-.0518A6.1461%2C6.1461%2C0%2C0%2C0%2C90.3008.2541%2C7.3161%2C7.3161%2C0%2C0%2C1%2C87.879.2885%2C12.3461%2C12.3461%2C0%2C0%2C0%2C83.0274.1953a7.003%2C7.003%2C0%2C0%2C1-1.5689.1722A25.21%2C25.21%2C0%2C0%2C0%2C74.893.7891%2C2.48%2C2.48%2C0%2C0%2C1%2C73.7.8219%2C8.7737%2C8.7737%2C0%2C0%2C0%2C69.596.737a21.54%2C21.54%2C0%2C0%2C1-4.1294.4144c-.8456-.052-1.7-.0009-2.5507.02-.8092.0193-1.62.1036-2.4267.0811-2.3955-.0672-4.7956-.3469-7.1628.2919a3.2107%2C3.2107%2C0%2C0%2C1-.7312.0609%2C2.9663%2C2.9663%2C0%2C0%2C1-.7441-.0423%2C36.76%2C36.76%2C0%2C0%2C1-10.2488-.1087c-.0261.385-.1913.4257-.9129.48-1.909.1442-3.8221.2373-5.7334.3512a.5.5%2C0%2C0%2C1-.1222.0044%2C8.3308%2C8.3308%2C0%2C0%2C0-3.2653.2594%2C4.7042%2C4.7042%2C0%2C0%2C1-.7253.1039c-1.7889.0583-3.578.133-5.3672.1468-.89.0068-1.78-.1181-2.6717-.1577a20.2158%2C20.2158%2C0%2C0%2C0-2.1928-.029c-2.1969.1425-4.39.3314-6.5864.4893A10.0179%2C10.0179%2C0%2C0%2C1%2C12.93%2C3.08c-1.3009-.05-2.6047-.181-3.9014-.1312a10.8093%2C10.8093%2C0%2C0%2C1-3.0341-.1979A8.3454%2C8.3454%2C0%2C0%2C0%2C1.7733%2C2.85a1.5793%2C1.5793%2C0%2C0%2C0-1.3659%2C1.4%2C11.3973%2C11.3973%2C0%2C0%2C0-.2512%2C3.438A.8555.8555%2C0%2C0%2C1%2C.1068%2C8.2291Z%22%2F%3E%3C%2Fsvg%3E");
}

h3.highlight::after {
  height: 1.15em;
}

.caps {
  text-transform: uppercase;
}
